---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Work from "../components/Work.astro";
import Quote from "../components/Quote.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="cursor" data-cursor></div>

  <div class="preloader" data-preloader>
    <span class="preloader__count" data-count>0</span>
    <span class="preloader__word">PAPARMANE</span>
  </div>

  <Header />

  <main>
    <Hero />
    <Stats />
    <About />
    <Services />
    <Work />
    <Quote />
    <Contact />
  </main>

  <Footer />
</Layout>
